$avd-base-font-size: 16px !default;
$avd-breakpoints-map: (
  s: 640px,
) !default;

$avd-sizes-maps: (
  dialog: (
    x: (
      null: 100%,
      s: 600px
    ),
    y: (
      null: 100%,
      s: 75%
    )
  ),
  header: (
    y: (
      null: 48px,
      s: 56px
    )
  ),
  footer: (
    y: (
      null: 56px,
      s: 64px
    )
  )
) !default;

$avd-breakpoints-separator: '\@';
$avd-backdrop-bg-color: rgba(0,0,0,0.12) !default;
$avd-drop-shadow: 2px 6px 12px rgba(0,0,0,0.24) !default;
$avd-header-bg-color: whitesmoke !default;
$avd-footer-bg-color: whitesmoke !default;
$avd-body-bg-color: white !default;
$avd-corners: 4px !default;
$avd-classname: 'c-dialog';
